# Copy file ini jadi .env dan isi sesuai konfigurasi

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=unismile_db
DB_SSL=false # Set to true if deploying to cloud database like Aiven

PORT=3001
BASE_URL=http://localhost:3001
